<div class="form-group">
    <label>genres</label>

    @if (isLoading) {
        <span>loading..</span>
    } @else if (allGenres.length === 0) {
        <span>no genres found:(</span>
    } @else {
        <div class="custom-select" [class.open]="isDropdownOpened">
            <button class="dropdown-toggle" (click)="toggleDropdown()">
                {{ shownGenres }}
            </button>
            @if (isDropdownOpened) {
                <div class="dropdown-menu">
                    <span class="dropdown-option" (click)="openCreateModal()">
                        <b>+ New</b>
                    </span>
                    @for (genre of sortedGenres; track genre.id) {
                        <label class="dropdown-option"
                               [ngClass]="{'dropdown-option-selected': isSelected(genre)}">
                            <input type="checkbox"
                                   [value]="genre.id"
                                   (change)="onGenreChange(genre)"
                                   hidden
                            />
                            {{ genre.genre }}
                        </label>
                    }
                </div>
            }
        </div>

        <app-create-genre
                [isOpen]="isModalOpened"
                (closeModalEvent)="closeCreateModal()"/>
    }
</div>