<label for="genres">genres: </label>
@for (genre of genresToShow; track genre.id) {
    <span>{{ genre.genre }}</span>
    <span>{{$last?'':', '}}</span>
}
@if (isLoading) {
    <span>loading..</span>
} @else if (allGenres.length === 0) {
    <span>no genres found:(</span>
} @else {
    <select [formControl]="genresControl" id="genres" [disabled]="isLoading" multiple>
        @for(genre of allGenres; track genre.id) {
            <option [value]="genre.id">{{genre.genre}}</option>
        }
    </select>
}
<br />

<app-create-genre (genreCreatedEvent)="handleGenreCreation()" />