@if (isLoading) {
    <h1 class="loading">loading your book..</h1>
} @else if (book) {
    <form [formGroup]="bookForm" autocomplete="off">
        <div class="form-container" [ngClass]="{'two-columns':!isShrank, 'one-column':isShrank}">
            <div class="left-group">
                <div class="image-center-wrapper">
                    <div class="form-group form-for-image">
                        <label for="cover">cover</label>
                        <div class="form-image-wrapper"
                             (dragover)="handleDrag($event)"
                             (dragleave)="handleDrag($event)"
                             (drop)="onDrop($event)">

                            <button type="button" class="add-image-file-button" (click)="fileInput.click()">+</button>
                            <input #fileInput id="cover" type="file" accept="image/*" (change)="onFileSelected($event)"
                                   hidden>
                            @if (coverUrl) {
                                <img [src]="coverUrl" [alt]="''" width="264" height="418"/>
                            }
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">name</label>
                    <input type="text" formControlName="name" id="name">
                </div>

                <app-select-author (onAuthorSelected)="handleSelectedAuthor($event)" [authorToShow]="author"/>

                <div class="dates-group">
                    <div class="form-group">
                        <label for="startedReadDate">started</label>
                        <input class="clickable" type="date" formControlName="startedReadDate" id="startedReadDate"
                               #startedDate (click)="openDatepickerForStartedDate()">
                    </div>

                    <div class="form-group">
                        <label for="endedReadDate">ended</label>
                        <input class="clickable" type="date" formControlName="endedReadDate" id="endedReadDate"
                               #endedDate (click)="openDatepickerForEndedDate()">
                    </div>
                </div>
            </div>

            <div class="separator"></div>

            <div class="right-group">
                <app-select-book-type (onBookTypeSelected)="handleSelectedBookType($event)"
                                      [bookTypeToShow]="bookType"/>

                <app-select-book-status (onBookStatusSelected)="handleSelectedBookStatus($event)"
                                        [bookStatusToShow]="bookStatus"/>

                <app-select-genre (onGenreSelected)="handleSelectedGenres($event)" [genresToShow]="bookGenres"/>

                <div class="form-group stretching-form">
                    <label for="annotation">annotation</label>
                    <textarea formControlName="annotation" id="annotation"></textarea>
                </div>
            </div>

            <button type="submit" (click)="handleUpdateBookSubmit()">edit book</button>

            <div class="separator"></div>
            <div class="separator"></div>

            <span>
                <a routerLink="/">
                    <img class="back-image" width="32" height="32"
                         ngSrc="https://www.svgrepo.com/show/335978/arrow-left.svg" alt="←">
                </a>
            </span>

            <div class="separator"></div>

            <span class="trash-container">
                <button class="trash-image" (click)="deleteBook()">
                    <img width="24" height="24" ngSrc="https://www.svgrepo.com/show/14231/trash.svg" alt="🗑">
                </button>
            </span>
        </div>
    </form>
} @else {
    <h1>no book found:(</h1>
}
<hr/>