@use '../../../../form-styles';
@use '../../../../styles';

body {
  background-color: styles.$panel-color;
  margin: 30px;
}

.add-image-file-button {
  z-index: 3;
}

.form-container {
  display: grid !important;
  grid-template-columns: 4fr 1fr 5fr;
}

.dates-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-group, .right-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.stretching-form {
  flex: 1;
}

.stretching-form > textarea {
  background-color: styles.$panel-color;
  color: styles.$font-color;

  resize: none;
  margin-left: 8px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);

  transform: translateY(-24px);
}