@if (isLoading) {
    <p>loading data..</p>
} @else if (book) {
    <form [formGroup]="bookForm" (ngSubmit)="handleUpdateBookSubmit()">
        <label for="name">Name:</label>
        <input type="text" formControlName="name" id="name" [disabled]="isLoading">
        <br />

        <label for="annotation">Annotation:</label>
        <input type="text" formControlName="annotation" id="annotation" [disabled]="isLoading">
        <br />

        <app-select-author (onAuthorSelected)="handleSelectedAuthor($event)" [authorToShow]="author" />

        <app-select-book-type (onBookTypeSelected)="handleSelectedBookType($event)" [bookTypeToShow]="bookType" />

        <app-select-book-status (onBookStatusSelected)="handleSelectedBookStatus($event)" [bookStatusToShow]="bookStatus" />

        <app-select-genre (onGenreSelected)="handleSelectedGenres($event)" [genresToShow]="bookGenres"/>

        <label for="startedReadDate">started reading:</label>
        <input type="date" formControlName="startedReadDate" id="startedReadDate" [disabled]="isLoading">
        <br />

        <label for="endedReadDate">ended reading:</label>
        <input type="date" formControlName="endedReadDate" id="endedReadDate" [disabled]="isLoading">
        <br />

        <button type="submit" [disabled]="isLoading">edit book</button>
    </form>
    <button (click)="deleteBook()" [disabled]="isLoading">delete book</button>
} @else {
    <h1>no book found:(</h1>
}
<hr />
<a routerLink="/">see your books..</a>

