<div class="form-group">
    <label>book status</label>
    @if (isLoading) {
        <span>loading..</span>
    } @else if (allOptions.length === 0) {
        <span>no book statuses found:(</span>
    } @else {
        <div class="custom-select" [class.open]="isDropdownOpened">
            <button id="option" class="dropdown-toggle" (click)="toggleDropdown()">
                {{ shownOption?.name }}
            </button>
            @if (isDropdownOpened) {
                <div class="dropdown-menu">
                    @for (option of allOptions; track option.id) {
                        <label class="dropdown-option"
                               [ngClass]="{'dropdown-option-selected': isSelected(option)}">
                            <input type="checkbox"
                                   [value]="option.id"
                                   (change)="onOptionChange(option)"
                                   hidden
                            />
                            {{ option.name }}
                        </label>
                    }
                </div>
            }
        </div>
    }
</div>