@use '../../../../form-styles';
@use '../../../../styles';

.name {
  --label-width: 53px;
}

.annotation {
  --label-width: 93px;
}

.form-for-image {
  --label-width: 52px;
}

.panel {
  padding-top: 24px;

  height: 100vh;
  overflow-y: auto;
}

.panel > form {
  position: relative;
}

.panel {
  background-color: rgba(styles.$panel-color, 0.4);
  backdrop-filter: blur(10px);
}

* {
  --form-color: #{rgba(styles.$panel-color, 0.0)};
}

.submit-creation-button {
  position: absolute;
  bottom: 48px;
  left: 24px;

  width: 96px;
  height: 48px;

  border-radius: 48px;

  z-index: 3;
}