@use '../../../../form-styles';

.panel {
  height: 100vh;
  overflow-y: auto;
}

.panel > form {
  position: relative;
}

.form-container {
  padding-top: 20px;

}

.submit-creation-button {
  position: absolute;
  bottom: 24px;
  left: 24px;

  width: 96px;
  height: 48px;

  border-radius: 48px;

  z-index: 3;
}