<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book info</title>
</head>
<body>

<h1 th:text="${bookFullView.getName()}"></h1>
<p th:text="'author: ' + ${bookFullView.getAuthorFirstName()} + ' ' + ${bookFullView.getAuthorLastName()}"></p>
<p>
    <span>genres: </span>
    <span th:each="genre, iterStat : ${bookFullView.getGenres()}"
          th:text="${genre} + (!iterStat.last ? ', ' : '')"></span>
</p>
<p th:text="'annotation: ' + ${bookFullView.getAnnotation()}"></p>
<p th:text="'status: ' + ${bookFullView.getBookStatus()}"></p>
<p th:text="'type: ' + ${bookFullView.getBookType()}"></p>
<p th:text="'ended date: ' + ${bookFullView.getEndedReadDate()}"></p>
<p th:text="'started date: ' + ${bookFullView.getStartedReadDate()}"></p>

<a href="/">go back</a>

</body>
</html>