<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new book</title>
</head>
<body>

<form th:method="POST" th:action="@{/}" th:object="${createBookDTO}">
    <label for="id">enter id: </label>
    <input th:field="*{id}" type="number" id="id" />
    <br />

    <label for="name">enter name: </label>
    <input th:field="*{name}" type="text" id="name" />
    <br />

    <label for="author">choose author: </label>
    <select th:field="*{authorId}" id="author">
    <option value="" disabled selected>choose author:</option>
    <option th:each="author : ${authors}"
            th:value="${author.getId()}"
            th:text="${author.getFirstName()} + ' ' + ${author.getLastName()}">
    </option>
    </select>
    <br />

    <a href="/authors/create">new author</a>

    <input type="submit" value="create!" />
</form>

</body>
</html>