<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new genre</title>
</head>
<body>

<form th:method="POST" th:action="@{/genres}" th:object="${genre}">
    <label for="id">enter id: </label>
    <input th:field="*{id}" type="number" id="id" />
    <br />

    <label for="firstname">enter name: </label>
    <input th:field="*{name}" type="text" id="firstname" />
    <br />

    <input type="submit" value="create!" />
</form>

<a href="/genres">to genres</a>

</body>
</html>