@if (isOpen) {
    <div class="modal-backdrop">
        <div class="modal">
            <h3>New Genre</h3>

            <form [formGroup]="genreForm" (ngSubmit)="createGenre()" autocomplete="off">
                <div class="form-group">
                    <input id="genre" type="text" formControlName="genre"/>
                </div>

                <div class="modal-actions">
                    <button type="submit" [disabled]="genreForm.invalid || isLoading">
                        +
                    </button>
                </div>
            </form>
        </div>
    </div>
}