<div class="form-group">
<label for="bookType">book status</label>
<span>{{ bookStatusToShow?.status }}</span>
@if (isLoading) {
    <span>loading..</span>
} @else if (allBookStatuses.length === 0) {
    <span>no book statuses found:(</span>
} @else {
    <select id="bookType" [formControl]="bookStatusControl">
        @for (bookStatus of allBookStatuses; track bookStatus.id) {
            @if (bookStatusToShow?.id !== bookStatus.id) {
                <option [value]="bookStatus.id">{{ bookStatus.status }}</option>
            }
        }
    </select>
}
</div>