<div class="form-group">
<label>book status</label>
@if (isLoading) {
    <span>loading..</span>
} @else if (allBookStatuses.length === 0) {
    <span>no book statuses found:(</span>
} @else {

    <div class="custom-select" [class.open]="isDropdownOpened">
        <button class="dropdown-toggle" (click)="toggleDropdown()">
            {{ bookStatusToShow?.status }}
        </button>
        @if (isDropdownOpened) {
            <div class="dropdown-menu">
                @for (bookStatus of allBookStatuses; track bookStatus.id) {
                    <label class="dropdown-option"
                           [ngClass]="{'dropdown-option-selected': isSelected(bookStatus)}">
                        <input type="checkbox"
                               [value]="bookStatus.id"
                               (change)="onBookStatusChange(bookStatus)"
                               hidden
                        />
                        {{ bookStatus.status }}
                    </label>
                }
            </div>
        }
    </div>

}
</div>