@use 'styles';

.form-container {
  display: flex;
  
  flex-direction: column;
  
  gap: 16px;

  width: 100%;
  height: 100%;
}

.form-group {
  position: relative;
  margin-left: 12px;
  margin-right: 12px;

  height: 48px;

  border: styles.$form-border-color solid 2px;
  border-radius: 12px;
}

.form-group > label {
  user-select: none;

  position: relative;
  top: -19px;
  left: 20px;

  font-size-adjust: 0.6;

  background-color: styles.$panel-color;
  padding: 0 4px 0 4px;

  color: styles.$label-color;
}

.form-group > input, select {
  border: none;

  font-size: 14px;
}

.form-group > input {
  background: styles.$panel-color;
  position: relative;
  left: 8px;
  top: -20px;

  width: calc(100% - 24px);
}

.form-group > select {
  position: relative;

  top: -20px;
  width: 100%;

  opacity: 0;
  cursor: pointer;
}

.form-group > select::after {
  transform: scale(0.9, 0.45);
  color: styles.$font-color;
  position: absolute;
  top: 25%;
  right: 14px;
  pointer-events: none;

  opacity: 1;
  z-index: 3;
  content: '˅';
}

.form-group > span {
  position: absolute;

  left: 8px;
  top: 12px;
  width: 95%;

  font-size: 14px;
}

.form-group > .form-for-creation {
  position: absolute;
  left: 8px;
  width: calc(100% - 60px);
  top: 10px;
}

.form-group > button {
  position: absolute;

  right: 8px;
  top: 8px;
  width: 32px;
  height: 32px;

  color: styles.$panel-color;
  background-color: styles.$form-border-color;

  border-radius: 100%;
}

.form-group > form {
  position: absolute;

}

.form-for-image {
  height: 481px;
  width: 336px;
}

.form-image-wrapper {
  display: flex;
  justify-content: center;
}

.form-image-wrapper > button {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  color: styles.$label-color;
  background-color: styles.$transparent-color;

  font-size-adjust: 3;
}

.form-image-wrapper > button::content {
  z-index: 2;

  text-shadow:
          -1px -1px 0 styles.$shadow-color,
          1px -1px 0 styles.$shadow-color,
          -1px  1px 0 styles.$shadow-color,
          1px  1px 0 styles.$shadow-color;
}

.form-image-wrapper > img {
  z-index: 1;

  border-radius: 12px;
}

.custom-select > .dropdown-toggle {
  position: absolute;
  top: 0;
  left: 4px;

  font-size: 14px;
  color: styles.$font-color;
  text-align: left;

  width: 100%;
  height: 100%;

  background-color: #ffffff00;

}

.custom-select > .dropdown-toggle::after {
  transform: scale(0.9, 0.45);
  color: styles.$font-color;
  position: absolute;
  top: 25%;
  right: 23px;
  pointer-events: none;

  content: '˅';
}

.custom-select > .dropdown-menu {
  font-size: 10px;

  position: absolute;
  top: 80%;

  width: calc(100% - 20px);
  left: 8px;

  padding: 2px;

  border: styles.$label-color solid 1px;
  border-radius: 4px;

  background-color: styles.$panel-color;
  z-index: 1;
}

.dropdown-menu > .dropdown-option {
  user-select: none;

  display: inline-flex;
  flex-wrap: wrap;

  cursor: pointer;
  border: styles.$label-color solid 1px;
  color: styles.$font-color;
  padding: 1px 4px 1px 4px;
  margin: 4px;
  border-radius: 4px;
}

.dropdown-option-selected {
  border: styles.$panel-color solid 1px;
  background-color: styles.$label-color;
  color: styles.$panel-color !important;
}