/* You can add global styles to this file, and also import other style files */
* {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  font-size-adjust: 0.7;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

input {
  border-bottom: 1px solid;
}

select {
  border-bottom: 1px solid;
}

button {
  background-color: white;
  color: black;
  border-radius: 15px;
  padding: 2px 6px;
  cursor: pointer;
}