@if (isLoading) {
    <h1 class="loading">loading your books...</h1>
}
@else if (books && books.length > 0) {
    <ul class="book-cover-preview">
        @for (book of books; track book.id) {
            <a routerLink="/books/{{book.id}}">{{ book.name }}</a>
            <img [src]="book.coverUrl" [alt]="" width="228" height="361"/>
            <br />
        }
    </ul>
} @else {
    <div class="not-found">
        <h1>no books found..</h1>
        <p>to create book, click the button below!</p>
    </div>
}

<div class="book-create-container" [class.toggled]="isMenuOpened">
    <div class="create-button-container">
        <button class="create-button"
                (click)="toggleMenu()"
                [class.pressed]="isMenuOpened">
            <span class="cross">+</span>
        </button>
    </div>

    <app-create-book (onBookCreated)="createBook()"/>
</div>