<div class="form-group">
    <label>book type</label>
    @if (isLoading) {
        <span>loading..</span>
    } @else if (allBookTypes.length === 0) {
        <span>no authors found:(</span>
    } @else {
        <div class="custom-select" [class.open]="isDropdownOpened">
            <button class="dropdown-toggle" (click)="toggleDropdown()">
                {{ bookTypeToShow?.type }}
            </button>
            @if (isDropdownOpened) {
                <div class="dropdown-menu">
                    @for (bookType of allBookTypes; track bookType.id) {
                        <label class="dropdown-option"
                               [ngClass]="{'dropdown-option-selected': isSelected(bookType)}">
                            <input type="checkbox"
                                   [value]="bookType.id"
                                   (change)="onBookTypeChange(bookType)"
                                   hidden
                            />
                            {{ bookType.type }}
                        </label>
                    }
                </div>
            }
        </div>
    }
</div>